:root {
    --brandColor: #E95A08;
    --black: #000;
    --white: #fff;
    --textPrimaryColor: rgba(0, 0, 0, 0.5);
    --textSecondaryColor: #111111;
    --textTertiaryColor: #6B7280;
    --primaryFont: Noto Serif;
    --secondaryFont: "Inter", sans-serif;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.body {
    background-color: #F6F8FF;
}
/* Shared Style */
h1, h2, h3, h4, h5, h6 {
    font-family: var(--primaryFont);
}
p {
    font-family: var(--secondaryFont);
    font-size: 22px;
    color: var(--textPrimaryColor);
}
.colored-text {
    color: var(--brandColor);
}
/* Header Section */
.header {
    max-width: 1140px;
    margin: 0 auto 120px;
}
/* Navigation Section */
.brand {
    cursor: pointer;
}
.nav,
.nav-bar,
.nav-bar ul {
    display: flex;
    font-family: var(--secondaryFont);
}
.nav{
    margin: 30px 0 210px;
    align-items: center;
    justify-content: space-between;
}
.nav-bar ul {
    list-style: none;
}
.nav-bar ul li:first-child a {
    color: var(--black);
}
.nav-bar ul li {
    margin-right: 10px;
}
.nav-bar ul li a {
    color: black;
    color: var(--textTertiaryColor);
    padding: 8px 16px;
    text-decoration: none;
}
.nav-bar ul:first-child {
    color: black;
}
.cart a {
    color: black;
    text-decoration: none;

}
/* For Small Device */
/* Hero Area */
.hero-area {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.text-area,
.hero-area img {
    width: 50%;
}
.hero-title {
    font-size: 65px;
    margin-bottom: 13px;
}
.hero-area .text-area p {
    text-align: justify;
}
/* Main Area */
main{
    max-width: 1140px;
    margin: 0 auto 120px;
}
/* Card Section */
.card-description-area {
    text-align: center;
    margin: 0 126px 50px;
}
.card-section-title {
    font-size: 50px;
    margin-bottom: 16px;
}
.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px 20px;
    margin-bottom: 210px;
}
.card {
    text-align: center;
    max-width: 270px;
    font-family: var(--secondaryFont);
}
.card img{
    width: 100%;
}
.card-title {
    font-family: var(--secondaryFont);
    text-align: center;
    max-width: 270px;
    margin: 20px auto 10px;
    font-size: 22px;
    font-weight: 500;
}
.card-price{
    display: block;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 20px;
}
.card button {
    font-weight: bold;
    border: none;
    color: var(--white);
    display: block;
    width: 100%;
    padding: 15px 50px;
    background-color: var(--brandColor);
    cursor: pointer;
}
.card button:hover,
.subscription-content button:hover {
    background-color: #ff650c;
}
/* Badge Section */
.badge-section {
    width: 100%;
    display: flex;
    gap: 60px; 
    margin-bottom: 130px; 
}
.badges {
    position: relative;
}
.badge {
    position: absolute;
    max-width: 250px;
    top: -130px;
    right: -90px;
    animation: rotateInfinite 30s linear infinite;
}
@keyframes rotateInfinite {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
.badge-title {
    font-size: 50px;
    margin: 30px 0 20px;
}
.badge-section .description-area ul li {
    margin-bottom: 20px;
}
.badge-section .description-area ul li p {
    text-align: justify;
}

.badges, .badge-section .description-area {
    width: 50%;
}
.image-badge {
    width: 100%;
    height: auto;
    display: block;
    /* min-width: 455px; */
}
@media screen and (max-width: 576px) {
    .brand img {
        width: 100px;
        height: auto;
    }
    .nav-bar ul {
    display: none;
}
.header {
    margin: 0 auto;
}
.nav{
    margin: 30px 16px 80px;
}
.hero-area {
    flex-direction: column-reverse;
    gap: 28px;
    margin-bottom: 65px;
}
.text-area,
.hero-area img {
    width: 100%;
}
.hero-area .text-area {
    padding: 0 16px;
}
.hero-title {
    font-size: 24px;
}
p {
    font-size: 14px;
}
.card-section-title {
    font-size: 24px;
}
.card-description-area {
    text-align: center;
    margin: 0 28px 28px;
}
.cards {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px 28px;
    margin: 0 15px 100px;
}
.card button {
    padding: 12px 30px;
}
.badge-section {
    flex-direction: column;
    gap: 18px; 
    margin-bottom: 130px; 
}
.badge {
    display: none;
}
.badge-title {
    font-size: 24px;
    margin: 0;
}
.badge-section .description-area ul li {
    margin-bottom: 20px;
}
.badge-section .description-area ul li p {
    text-align: justify;
}

.badges, .badge-section .description-area {
    width: 50%;
}
.image-badge {
    width: 100%;
    height: auto;
    display: block;
    /* min-width: 455px; */
}
}
/* Latest Deal Section */
.deal-description-area {
    text-align: center;
    margin: 0 126px 100px;
}

.latest-deal-title {
    font-size: 50px;
    margin-bottom: 16px;
}
.offer-section {
    display: grid;
    grid-template-areas: 
    "bigOffer     bigPortionOffer bigPortionOffer"
    "semiBigOffer bigPortionOffer bigPortionOffer"
    ;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px; /* optional */
}
.big-offer,
.semi-big-offer,
.big-portion-offer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--white);
    background-size: cover;
    border-radius: 14px;
    height: 200px;
}
.big-offer {
    position: relative;
    grid-area: bigOffer;
    background-image: url(image/deal-bloom.png);
}
.big-offer::before,
.semi-big-offer::before,
.big-portion-offer::before {
    content: '';
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 14px;
    z-index: 1;
}
.offer-title {
    font-size: 20px;
    margin-bottom: 15px;
}
.big-portion-title {
    font-size: 40px;
}
.offer-button {
    font-family: var(--secondaryFont);
    font-weight: 500;
    background: none;
    border: none;
    border-bottom: 1px solid #fff;
    color: var(--white);
    cursor: pointer;
}
.semi-big-offer {
    position: relative;
    grid-area: semiBigOffer;
    background-image: url(image/deal-ana.png);
}
.big-portion-offer {
    position: relative;
    grid-area: bigPortionOffer;
    height: 100%;
    background-image: url(image/deal-zabo.png);
}
.offer-title,
.offer-button,
.big-portion-title {
    z-index: 2;
}
.offer-button-last {
    font-size: 28px;
    font-weight: 400;
}
.subscription-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 533px;
    background-image: url(image/news-letter-bg.png);
    background-size: cover;
    margin-bottom: 50px;
}
.subscription-title {
    color: var(--white);
    font-size: 50px;
    margin-bottom: 23px;
}
.subscription-content {
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.subscription-content input {
    height: 50px;
    width: 644px;
    padding: 8px 20px;
    border: none;
    outline: none;
    font-size: 16px;
}
.subscription-content button {
    /* padding: 16px 50px; */
    font-family: var(--secondaryFont);
    font-size: 16px;
    font-weight: 500;
    height: 52px;
    width: 180px;
    color: var(--white);
    cursor: pointer;
    border: none;
    background-color: var(--brandColor);
}
.footer {
    margin: 0 auto 50px;
    max-width: 1140px;
    display: flex;
    justify-content: space-between;
}
.nav-footer ul,
.info-nav-footer ul {
    list-style: none;
}
.nav-footer ul li,
.info-nav-footer ul li {
    font-family: var(--secondaryFont);
    color: var(--textTertiaryColor);
    margin-bottom: 32px;
}
.brand-details img {
    margin-bottom: 16px;
}
.social-link {
display: flex;
align-items: center;
justify-content: center;
margin-right: 24px;
}
.social-link img {
margin-right: 24px;
cursor: pointer;
}